/* 1024-1208 */
@media screen and (max-width: 1229px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-image{
        margin-left: 10px;
    }

    .main .container{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .list-sushi-items{
        justify-content: center;
    }
    .block-povar img{
        max-width: 100%;
    }

    .block-info{
        padding-top: 60px;
    }

}
/* 915- 1023 */
@media screen and (max-width: 1023px) {

    .menu{
        margin-left: 132px;
    }

    .block-povar{
        margin-left:10px;
    }

    .list-sushi {
        justify-content: center;
    }
    .main-image img{
        max-width: 100%;
    }
}

@media screen and (max-width: 915px){
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background: #020303;
    }

    .header {
        padding: 30px 0 30px 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .header .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .block-logo {
        box-sizing: border-box;
        font-size: 0;
        display: flex;
        justify-content: space-between;
        width: 127px;
        margin-bottom: 40px;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
    }

    .block-logo img {
        width: 56px;
        display: inline-block;
    }

    .text-logo {
        vertical-align: middle;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        width: 60px;
        display: inline-block;
    }

    .menu {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        text-align: center;
        margin-left:0;

    }

    .menu ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 489px;
    }



    .menu ul li a {
        font-size: 16px;
        color: rgb(253, 239, 213);
        line-height: 1;
        text-decoration: none;
    }

    .menu ul li a:hover {
        color: #ffaf18;
        border-bottom: 2px solid #ffaf18;
    }

    .main {
        padding-top: 40px;
    }

    .main .container {
        font-size: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
    }

    .block-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        order: 2;
    }

    .main-title {
        font-size: 45px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.222;
        max-width: 564px;
    }

    .main-title div {
        display: inline-block;
        font-size: 45px;
        color: #ffaf18;
        font-weight: bold;
        line-height: 1;
    }

    .main-subtitle {
        margin-top: 74px;
        margin-bottom: 92px;
    }

    .main-subtitle-group1 {
        margin-right: 99px;
        display: inline-block;
    }

    .main-subtitle img {
        margin-right: 11px;
        display: inline-block;
        vertical-align: middle;
    }

    .main-subtitle-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
    }

    .main-subtitle-group2 {
        display: inline-block;
    }

    .main-action {
        background-color: rgb(255, 175, 24);
        width: 224px;
        border-radius: 30px;
        padding: 22px 22px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        color: rgb(2, 3, 3);
        font-weight: bold;
        line-height: 1;
    }

    .main-action:hover {
        box-shadow: 0 3px 20px rgba(255, 175, 24, 0.5);
    }



    .list-sushi {
        margin: 120px 0;
        font-size: 0;
    }


    .list-sushi-title {
        text-align: center;
        margin-bottom: 36px;
        font-size: 35px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.571;
    }

    .list-sushi-items {
        font-size: 0;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .list-sushi-item {
        display: inline-block;
        vertical-align: middle;
        width: 282px;
        background: white;
        text-align: center;
        padding: 10px 20px 15px 20px;
        box-sizing: border-box;

    }

    .list-sushi-item:hover {
        box-shadow: 0 0 0 5px #ffa700;
    }


    .list-sushi-item img {
        margin-bottom: 24px;
    }

    .list-sushi-name {
        font-size: 18px;
        color: rgb(24, 26, 26);
        font-weight: bold;
        line-height: 3.056;
    }

    .list-sushi-text {
        font-size: 14px;
        color: rgb(24, 26, 26);
        line-height: 1.286;
        text-align: center;
        margin-bottom: 15px;
        height: 51px;
    }

    .list-sushi-action {
        background-color: #ffaf18;
        border-radius: 25px;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        color: rgb(2, 3, 3);
        font-weight: bold;
        line-height: 3.438;
        width: 242px;
        padding: 17px 80px;
    }

    .list-sushi-action:hover {
        box-shadow: 0 0 20px #ffa700;
    }

    .block-info {
        padding-top: 60px;
        /* padding-bottom: 67px; */
    }

    .block-info .container {
        flex-direction: column;
        font-size: 0;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .block-info-about {
        /* max-width: 385px; */
        vertical-align: bottom;
        order: 1;
        flex-flow:  wrap row;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top:20px;
    }

    .block-info-about-title {
        margin-bottom: 60px;
        font-size: 35px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        /* line-height: 1.286; */
        max-width: 456px;
        order: -1;
        text-align: center;
    }

    .block-info-about-subtitle {
        margin-bottom: 50px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        max-width: 385px;
    }


    .block-info-about-detail {
        margin-bottom: 40px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.4;
        width: 351px;
    }


    .block-info-about-action {
        display: inline-block;
    }


    .action {
        cursor: pointer;
        display: inline-block;
    }

    .action.action-onigiri {
        background: white;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        padding-top: 12px;
        padding-left: 1px;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
    }

    .action.action-sushi {
        margin-left: 40px;
        background: white;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        padding-top: 10px;
        padding-left: 6px;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
    }

    .action.action-tuna {
        margin-left: 40px;
        background: white;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        padding-top: 14px;
        padding-left: 1px;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
    }


    .footer .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-rights{
        margin:0;
    }
    .block-logo{
        margin-left:0;
    }

}


@media screen and (max-width: 520px){

    .header .container{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: relative;

    }
    .block-logo{
        margin-bottom: 20px;
        margin-left: 0;
    }

    .menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        top: 0;
        background: #000000b0;
    }

    .menu .close{
        display: block;
        height: 24px;
        width: 24px;
        fill: rgb(164, 107, 0);
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .footer .block-logo{
        margin-bottom: 20px;
        margin-left: 0;
    }

    .block-title{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .block-logo{
        margin-bottom:0;
        margin-left: 20px
    }
    .burger{
        display: block;
        position: absolute;
        left: 10px;
        transform-origin: 100% 100%;
    }
    .burger svg{
        fill: rgb(205, 203, 203);
        width: 50px;
        height: 50px;

    }
}

@media screen and (max-width: 504px) {
    .main-subtitle-group1{
        margin-bottom: 30px;
    }

    .main-subtitle{
        margin: 60px 0;
    }
    .block-title{
        align-items: flex-start;
    }

    .main-subtitle-group1{
        margin-right: 30px;
    }

    .block-logo {
        margin-bottom: 0;
    }
    .footer .block-logo{
        margin-bottom: 20px;
        margin-left: 0;
    }

}

@media screen and (max-width: 387px) {
    .block-info-about-title{
        font-size:30px ;
    }

    .block-info-about-subtitle{
        font-size: 14px;
    }

    .block-info-about-detail{
        font-size: 20px;
    }
    .block-info-about-actions a{
        max-width: 100px;
    }
    .block-logo {
        margin-bottom: 0;
    }
    .block-info-about{
        max-width: 306px;
    }
    .block-info-about-detail{
        max-width: 306px;
    }

    .footer .block-logo{
        margin-bottom: 20px;
        margin-left: 0;
    }
}